/* Raleway font */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;500;600;700;800;900&display=swap'); */
/* Poppin font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

::selection {
    color: white;
    background-color: plum;
}

body {
    background-color: azure;
}
*/

/* Navbar */
/*
.navbar {
    margin: auto;
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: darkcyan;
}

li {
    list-style: none;
}

.logo {
    font-size: 30px;
    font-weight: 800;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin-left: 5px;
}

.link {
    font-size: 15px;
    font-weight: 600;
    padding: 8px 26px;
    transition: 0.3s linear;
    color: #525252;
}

.link:hover {
    background-color: darkcyan;
    color: white;
}

.links a:last-child {
    margin-left: 18px;
}

.contact {
    color: #fff;
    background-color: darkcyan;
    padding-inline: 30px;
    border: 2px solid darkcyan;
}

.contact:hover {
    background-color: transparent;
    color: darkcyan;
}

/* Home Page */

/*
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    font-family: 'Raleway', sans-serif;
}

.right {
    margin-right: 10%;
}

.maintitle {
    font-size: 70px;
    color: lightcoral;
    margin-bottom: 20px;
}

span {
    color: darkcyan;
}

.right p {
    color: darkcyan;
    font-size: 15px;
    line-height: 26px;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid darkcyan;
    color: darkcyan;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.btn:hover {
    border: 2px solid lightcoral;
    background-color: lightcoral;
    color: white;
}

img {
    width: 570px;
}
*/

/* Product Page */
/* .product {
    display: flex;
} */

/* sidebar */
/* .sidebar {
    padding: 20px;
    background-color: floralwhite;
    font-family: 'Raleway', sans-serif;
}


.sidebar li button {
    margin-bottom: 31px;
} */

/* product card */
/* .cards {
    font-family: 'Poppins', sans-serif;
}

.imgbox {
    display: flex;
}

.imgbox .card {
    margin: 28px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.imgbox img {
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 250px;
}

.cardfooter {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.price span {
    color: darkcyan;
}

button {
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: cadetblue;
    transition: 0.5s;
}

button:hover {
    transition: 0.5s;
    background-color: darkcyan;
} */

/* Buy Page */
/* .buysec {
    min-height: 100vh;
    background-image: url(./images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buy {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-card {
    background-color: rgba(255, 255, 255, 0.318);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 50px 0px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: #333;
}

.text {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
    line-height: 24px;
    margin-bottom: 40px;
}

.inputborder {
    border: 1px solid #dadce000;
    border-left: 4px solid cadetblue;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
}

.formdiv {
    margin-top: 30px;
    position: relative;
    height: 20px;
    margin-bottom: 24px;
}

.forminput {
    outline: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
    padding: 16px;
    z-index: 1;
    background: none;
}

input[type="password"] {
    font-size: 20px;
}

.formlabel {
    position: absolute;
    left: 15px;
    top: -5px;
    padding: 3px;
    color: gray;
    font-size: 16px;
    transition: 0.3s ease;
}

.forminput:focus+.formlabel,
.forminput:not(:placeholder-shown).forminput:not(:focus)+.formlabel {
    top: -20px;
    left: 13px;
    font-size: 15px;
    font-weight: 500;
    z-index: 10;
}

.formbottom {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.check {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #2b7050;
}

input[type=checkbox] {
    accent-color: #2b7050;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.order {
    border: none;
    background-color: #2b7050;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
} */

/* Contact Page */
/* .contactpage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88vh;
    font-family: 'Poppins', sans-serif;
}

.map {
    width: 50%;
}

.contacttitle {
    padding: 20px 20px 20px 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.294);
    font-size: 20px;
    font-weight: 500;
}

.phone,
.address,
.internet,
.time {
    padding: 20px 20px 0px 30px;
}

i {
    font-size: 20px;
    padding-right: 5px;
} */

/* footer */
footer {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
}